body{
  font-family: "DM Sans", sans-serif;

}

.reset-box{
    max-width: 65   0px;
    border-radius: 8px;
    padding: 20px;
    background-color: rgba(255, 0, 0, 0.10);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 2rem;

}
.reset-box p{
    font-size: 14px;        
}

td{
    font-size: 14px !important;
    border:1px solid #ccc;
    padding: 7px;

    /* Truncate text */
    /*white-space: nowrap;*/        /* Prevent text from wrapping to next line */
    /*overflow: hidden;*/           /* Hide overflow */
    /*text-overflow: ellipsis;*/    /* Show "..." when text is too long */
    /*max-width: 120px;*/           /* Set a max width for the cell (adjust as needed) */
}

.admin-bar{
    width: 100%;
    padding-block: .6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1rem;
    background-color: rgb(39, 0, 0);
}

.admin-bar h1{
    font-size: 30px;
    margin: 0;
    color: #fff;
}